# In all environments, the following files are loaded if they exist,

APP_ENV=dev
APP_SECRET=f58a7e6a449baf2e077948042070460c
DATABASE_URL="postgresql://app:app@database:5432/app?serverVersion=15&charset=utf8"

###> lexik/jwt-authentication-bundle ###
JWT_SECRET_KEY=%kernel.project_dir%/config/jwt/private.pem
JWT_PUBLIC_KEY=%kernel.project_dir%/config/jwt/public.pem
JWT_PASSPHRASE=b1256238c65f3599f1f264dc020cce661d501c85116a496a1a351c2472a016a3
###< lexik/jwt-authentication-bundle ###
